.header__heading {
    color: rgba(219, 215, 215);
    background-color: rgba(49, 123, 214);
    text-align: center;
    border: rgba(0, 0, 0) solid;
    border-radius: 20px;
    box-shadow: 10px 9px 26px -3px rgba(66, 68, 90, 0.57);
}

.header__button {
    color: rgba(49, 123, 214);
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: rgba(0, 0, 0) solid;
    font-size: 15px;
}

.header__button:hover {
    background-color: rgba(160, 154, 154);
    color: rgba(0, 0, 0);
}