.navigation__list {
    list-style-type: none;
    background-color: rgba(49, 123, 214);
    border: solid rgba(0, 0, 0);
    border-radius: 20px;
    box-shadow: 10px 9px 26px -3px rgba(66, 68, 90, 0.57);
    text-align: center;
    padding: 10px;
    max-width: 600px;
    margin: 20px auto;

}

.navigation__link {
    text-decoration: none;
    color: rgba(0, 0, 0);
    font-weight: 700;
}

.navigation__link:visited {
    color: rgba(0, 0, 0);
}

.navigation__link:focus {
    outline: 10px solid rgba(0, 0, 0);
    text-decoration: underline;
    color: rgba(44, 156, 212);
}

.navigation__link:hover {
    color: rgba(255, 255, 255);
    border-bottom: 1px solid;
    outline: none;

}

.navigation__link:active {
    color: rgba(171, 171, 177);
}